* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    max-width: 1100px;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
body h1 {
    margin: 25px;
    text-align: center;
}
.card-container {
    flex-basis: 280px;
    display: flex;
    margin:10px 0;
    padding: 25px;
}
.card {
    padding: 25px;
    display: flex;
    flex-direction: column;
}
img {
    display: flex;
    justify-content: center;
}
.img img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin-top: -75px;
    border: 5px solid #fff;
    border-radius: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.img img:hover {
    transform: translate3d(0, -5px, 0);
    transition: transform 0.35s;
}
.name {
    display: flex;
    flex-direction: column;
}
.film-info {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}
.film-logo img{
width: 90px;
height: 131px;
}

.film-description-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding: 0;
}
.film-description {
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}
.rate {
    display: flex;
    justify-content: center;
}
.stars {
    display: flex;
    justify-content: center;
}
svg {
    color: #e5af0e;
}


.imbd {
    align-self: flex-end;
}
.imbd img {
    height: 25px;
}
.actor-content {
    display: flex;
    flex-direction: column;
}
.award {
    display: flex;
    justify-content: space-between;
}
.award .award-avatar img {
    width: 50px;
}
.award-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    color: rgba(0, 0, 0, 0.35);
    font-size: 14px;
    line-height: 1.4;
    padding-left: 2em;
}
.name p {
    align-self: flex-end;
}
.backgd-green {
    color: #2e7d32;
}
.color-blue {
    color: #0277bd
}
.color-yellow {
    color: #e5af0e ;
}
.category {
    display: flex;
    justify-content: center;
    color: #484848;
}
h5 {
    display: flex;
    justify-content: center;
}
